[submodule "MetaWear-SDK-Cpp"]
	path = pymetawear/MetaWear-SDK-Cpp
	url = https://github.com/mbientlab/MetaWear-SDK-Cpp
[submodule "pymetawear/MetaWear-SDK-Cpp"]
	path = pymetawear/MetaWear-SDK-Cpp
	url = https://github.com/mbientlab/MetaWear-SDK-Cpp
