[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"gattlib-0.20171002" = {git = "https://github.com/mbientlab/pygattlib.git", ref = "master"}
metawear = "*"


[dev-packages]

pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"


[requires]

python_version = "2.7"