[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

metawear = ">=0.5.0"
tqdm = "*"


[dev-packages]

pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pylint = "*"
"flake8" = "*"