[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

gattlib = {git = "https://github.com/mbientlab/pygattlib"}
metawear = "==0.3.1"
tqdm = "*"


[dev-packages]

pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pylint = "*"
"flake8" = "*"
